<link rel="stylesheet" type="text/css" href="/Style.css">

<h1 id="mainHeader"><center>{{message}}</center></h1>

<h4>Please select the readers. </h4> 
<div>
    <table class="customTable">
        <thead>
            <tr>
				<th>Select</th>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reader in readers">
                <td class="checkStyle"><input type="checkbox" ng-model="reader.checked" /></td>
                <td>{{reader.name}}</td>
                <td>{{reader.type}}</td>
                <td>{{reader.address}}</td>
                <td>{{reader.health}}</td>
            </tr>
        </tbody>
    </table>
	
</div>

<br/>
<h4>Please select the operation.</h4>

<table class="customTableOperations">
        <thead>
            <tr>
				<th>Select</th>
				<th>List of Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="operation in operations">
                <td class="checkStyle"><input type="radio" ng-model="model.operation" name="occurances" ng-value="operation" /></td>
                <td>{{operation.name}}</td>
            </tr>
        </tbody>
    </table>

<br/><br/>Please click the start button to start the job. &nbsp;<button type='button' ng-click="StartJob()" class="startJob">Start Job</button>

<br/><br/>

<p class="jobOutput">Job Result: &nbsp;<textarea style="width:30%; " rows="4" cols="50" ng-model="JobOutput" /> </p>

  
